*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

nav ul{
list-style-type: none;
display: flex;

}

a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    margin-right:10px;
 
}
nav{
display: flex;
justify-content: space-between;
padding:3%;
max-width: 100%;
}
h1{
    font-weight:bolder;
    font-size: 2.3rem;
}

.title{

    font-size: 2.2rem;
}

.nav-title{
    font-size: 1.5rem;
}

header{
    background-color: antiquewhite;
    width:100%;
}
.banner-contant{
    max-width:600px;
    text-align: center;
    margin: 0 auto;
    padding: 10%;
    
}

button{
    background-color: darkorange;
    border: none;
    color: white;
    padding:15px;
    border-radius:5%;
    font-weight: bolder;
    font-size: 1.22rem;
}
.banner-img{
  max-width: 80%;
margin-left: 10%;

}
p{
    color: rgb(92, 92, 92);
    line-height:1.5em;
    padding: 1.5em;
}

.banner{
    width: 100%;
 
}
.section-1{
   display: flex;
   align-items: center;
   margin: 10em;
  
}
.section1-pic{
   display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}


.section1-pic img{
    height:15em;
    width: auto;

  }
  


.section1-desc{
  padding-left: 70px;
  padding-right: 70px;

  

}

.sec1-para{
    padding-left:6px;
}
main{

  max-width: 1200px; 
  margin: 0 auto;

}

span{
    color: darkorange;

}
 .sponspors .spons-desc{
    margin-top: 100px;
    margin-bottom: 40px;
 }
footer{
    max-width:90% ;
    background-color:antiquewhite ;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;

}
.spons-desc{
    max-width: 40%;
    margin: 0 auto;
    text-align: center;
}
.spons-logo, .fact-div{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.spons-logo img{
max-width: 13%;

}

.fact-card{
    max-width: 30%;
    text-align: center;

}

.fact-desc{
    max-width: 40%;
    margin:50px ;
   
}

.fact-desc h1{
    margin-left:20px;
}
.Features{
    display: flex;
   
 justify-content: center;
   gap: 50px;

}

.features-contents{


    max-width:40%;
}

.feature-img{
   max-width:40%;

   
}

.feature-img img{
    max-width:100%;
    position: relative;
 }
 
 
 .card{
background-color: rgb(253, 242, 229);
margin-bottom:20px ;
padding: 10px;
border-radius: 8px;
box-shadow: 3px 3px 5px  rgb(226, 227, 228);

}

.year{
    color: white;
    font-weight: bold;
    background-color: orangered;
    width: 200px;
    display: inline;
    padding: 20px;
    border-radius: 10px;
   position:absolute ;
   top:2510px;
   margin-left:230px ;
   text-align: center;
}
 .year .paraa{
    color: white;
    font-weight: bolder;
}

@media screen and (max-width:576px){

  header{
    padding-top: 20px;
  
  }
    nav,.section-1{
        flex-direction: column;
       

    }

    .fact-desc{
        margin: 0 auto;
        max-width: 60%;
        margin-top: 30px;
    }
     .fact-card{
        
        margin: 0 auto;
        width: 80%;
      
      
      
    }
    
   .fact-div{
    display: flex;
    flex-direction: column;
   }
    .section-1{
        margin: 10px;
        padding-top:20%;
    }
    .section1-pic{
        grid-template-columns: 1fr;
        
    }
   .spons-logo{
margin-left: 40%;

    flex-direction: column;
   }
    .spons-logo img{
    max-width: 30%;
    gap: 230px;
    margin-bottom:8%;
    
        
    }
    .sponspors .spons-desc{
        max-width:70%;  
    }
    .sponspors{
       
    }
    .section-1 .section1-desc{
        margin-left:11% ;

    }

    .fact-desc{
      margin-left:21% ;
      text-align: center;
    }
    .Features{
       flex-direction: column;
    align-items: center;
     max-width:90%;

     
    
    }

    .features-contents{
        max-width: 100%;
        text-align: center;
        padding: 10%;
        margin-left: 20%;
        
    }
    .feature-img {
    margin-left: 11%;
        max-width: 100%;
    }
    .year{
    visibility: hidden;
    }
}

@media screen and (min-width:576px) and (max-width:960px){
    nav , .section-1{
        flex-direction: column;
    }
    header{
            padding:0;
            max-width: auto;
        
    }
    nav{
     padding: 40px;
    }

    .section-1 .section1-desc{
        padding: 20px;
        
    }

    .feature-img {
        margin-top: 50%;
        max-width: 70%;
    }
    .year{
        margin-left:230px ;
        top:2800px;
    }
}


